<form [formGroup]="form">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input formControlName="oldPassword" type="password" id="oldPassword" class="form-control">
        <div *ngIf="oldPassword && oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
            <div *ngIf="oldPassword && oldPassword.errors && oldPassword.errors.required">Old passowrd is required</div>
            <div *ngIf="oldPassword && oldPassword.errors && oldPassword.errors.inValidOldPassword">Old passowrd is
                invalid</div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">Change Password</label>
        <input formControlName="newPassword" type="password" id="newPassword" class="form-control">
        <div *ngIf="newPassword && newPassword.touched && newPassword.invalid" class="alert alert-danger">
            <div *ngIf="newPassword && newPassword.errors && newPassword.errors.required">New passowrd is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input formControlName="confirmPassword" type="password" id="confirmPassword" class="form-control">
        <div *ngIf="confirmPassword && confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
            <div *ngIf="confirmPassword && confirmPassword.errors && confirmPassword.errors.required">Confirm passowrd
                is required</div>
        </div>
        <div *ngIf="confirmPassword && confirmPassword.valid && form.invalid && form.errors && form.errors.passwordShouldMatch"
            class="alert alert-danger">
            Password do not macth
        </div>
    </div>
    <button class="btn btn-primary">Change Password</button>
</form>